<section class="ames-menu">
    <a href="home">Home</a>
    <a href="job-detail">Job Detail</a>
    <a href="job-matrix">Job Matrix</a>
    <a href="cross-ref">Cross Ref</a>
    <a href="parts-list">Parts List</a>
    <a href="suppliers">Suppliers</a>
    <a href="customers">Customers</a>
    <a href="materials">Materials</a>
    <a href="processes">Processes</a>
    <a href="AS9100">AS9100</a>
    <a href="RCAA">RCCA</a>
    <a href="doc-change">Doc&nbsp;Change</a>
    <a href="ref-docs">Ref&nbsp;Docs</a>
    <a href="records">Records</a>
    <a href="training">Training</a>
    <a href="calibration">Calibration</a>
    <a href="equipment">Equipment</a>
    <a href="permits">Permits</a>
    <a href="safety">Safety</a>
</section>
